.movie-description {
  margin-left: 50px !important;
}

.description {
  margin-top: 20px !important;
  font-size: 18px
}

.movie-title h1 {
  margin-bottom: 10px;
  font-size: 40px
}

.movie-genre h4 {
  margin-bottom: 20px;
  color: #62595a;
}

.img-area img {
  width: 200px
}

