<div class="container">
  <app-navbar></app-navbar>

  <div class="title">
    <span><h1><b>All cinemas in Almaty</b></h1></span>

    <div class="wrapper d-flex ">
      <div class="search-input">
        <input type="search" required>
        <label>Search</label>
      </div>
      <button type="submit" class="btn btn-default">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button>
    </div>

  </div>

  <div class="body-container">
    <div class="card-container">
      <div class="col">
        <div class="col">
          <div class="card mb-3 ">
            <div class="row g-0">
              <div class="col-md-1 images-area">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_AALFzQqDkYfKJhdvXLOjr8JY-JKwb8k5cA&usqp=CAU"
                  class="images img-fluid rounded-start" alt="...">
              </div>
              <div class="card-body-container col-md-7">
                <div class="card-body row">
                  <h5 class="card-title"><b>Cinemax (Dostyk Plaza) Dolby Atmos</b></h5>
                  <p class="card-text">/ Самал-2, д. 111, уг.ул. Жолдасбекова,
                    ТРЦ «Достык Плаза», +7 (727) 222 00 77, +7 701 026 73 69 (администрация),
                    бронирование билетов не предусмотрено</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="col">
          <div class="card mb-3 ">
            <div class="row g-0">
              <div class="col-md-1 images-area">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_AALFzQqDkYfKJhdvXLOjr8JY-JKwb8k5cA&usqp=CAU"
                  class="images img-fluid rounded-start" alt="...">
              </div>
              <div class="card-body-container col-md-7">
                <div class="card-body row">
                  <h5 class="card-title"><b>Cinemax (Dostyk Plaza) Dolby Atmos</b></h5>
                  <p class="card-text">/ Самал-2, д. 111, уг.ул. Жолдасбекова,
                    ТРЦ «Достык Плаза», +7 (727) 222 00 77, +7 701 026 73 69 (администрация),
                    бронирование билетов не предусмотрено</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="col">
          <div class="card mb-3 ">
            <div class="row g-0">
              <div class="col-md-1 images-area">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_AALFzQqDkYfKJhdvXLOjr8JY-JKwb8k5cA&usqp=CAU"
                  class="images img-fluid rounded-start" alt="...">
              </div>
              <div class="card-body-container col-md-7">
                <div class="card-body row">
                  <h5 class="card-title"><b>Cinemax (Dostyk Plaza) Dolby Atmos</b></h5>
                  <p class="card-text">/ Самал-2, д. 111, уг.ул. Жолдасбекова,
                    ТРЦ «Достык Плаза», +7 (727) 222 00 77, +7 701 026 73 69 (администрация),
                    бронирование билетов не предусмотрено</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="col">
          <div class="card mb-3 ">
            <div class="row g-0">
              <div class="col-md-1 images-area">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_AALFzQqDkYfKJhdvXLOjr8JY-JKwb8k5cA&usqp=CAU"
                  class="images img-fluid rounded-start" alt="...">
              </div>
              <div class="card-body-container col-md-7">
                <div class="card-body row">
                  <h5 class="card-title"><b>Cinemax (Dostyk Plaza) Dolby Atmos</b></h5>
                  <p class="card-text">/ Самал-2, д. 111, уг.ул. Жолдасбекова,
                    ТРЦ «Достык Плаза», +7 (727) 222 00 77, +7 701 026 73 69 (администрация),
                    бронирование билетов не предусмотрено</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="col">
          <div class="card mb-3 ">
            <div class="row g-0">
              <div class="col-md-1 images-area">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_AALFzQqDkYfKJhdvXLOjr8JY-JKwb8k5cA&usqp=CAU"
                  class="images img-fluid rounded-start" alt="...">
              </div>
              <div class="card-body-container col-md-7">
                <div class="card-body row">
                  <h5 class="card-title"><b>Cinemax (Dostyk Plaza) Dolby Atmos</b></h5>
                  <p class="card-text">/ Самал-2, д. 111, уг.ул. Жолдасбекова,
                    ТРЦ «Достык Плаза», +7 (727) 222 00 77, +7 701 026 73 69 (администрация),
                    бронирование билетов не предусмотрено</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <app-footer-main></app-footer-main>
</div>
