
.wrapper {
  margin-left: -25px;
  width: 500px;
  background: #fff;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.wrapper .search-input {
  height: 40px;
  width: 100%;
  position: relative;
}

.wrapper .search-input input {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 13px;
  border-bottom: 1px solid black;
}

input {
  border: 0;
  outline: 0;
}

input:focus {
  outline: none !important;
}

.search-input input:focus ~ label,
.search-input input:valid ~ label {
  transform: translateY(-20px);
  font-size: 12px;
  color: #8a8a8a;
}

.wrapper .search-input label {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}


.card-container .card {
  max-width: 1200px;
  max-height: 100px;
  border: none;
  border-bottom: 1px solid silver;
  padding-bottom: 10px;
}

.card-container .card .images-area img {
  width: 50px;
  border-radius: 20px;
}

.card-container .card .card-body-container {
  //margin-top: 10px;
}

.card-container .card .card-body .card-text {
  margin-left: 20px
}
