.container {
  margin-top: 5%;
  margin-bottom: 5%;
}

.scroll-three-bg {
  background-color: #FCF0EC;
}

.carousel--slider--alignment {
  height: 70vh !important;
  position: fixed;
}

.carousel-cell-horizontal-width {
  width: 40vh !important;
  background-color: white !important;
}

.carousel-card-body-bg {
  background-color: white;
}

.card-img-top {
  width: 30vw !important;
  height: 30vh !important;
}

.card-img-top-horizontal {
  width: 10vw !important;
  height: 20vh !important;
}

.card-border-none {
  border: none !important;
  margin-top: 30px;
}


