<div class="container">
  <div class="row scroll-two-bg">
    <div class="offset-md-0 col-md-10 d-flex align-items-end">
      <h4>View all </h4>
    </div>

    <div class="offset-md-0 col-md-12">
      <carousel [loop]="true" [cellsToShow]="6" [cellsToScroll]="1" [lightDOM]="true" [objectFit]="'cover'"
                [height]="300" class="carousel-slider-alignment">

        <div class="carousel-cell">
          <div class="poster card-border-none">
            <img class="card-img-top img-fluid"
                 src="https://avatars.mds.yandex.net/get-kinopoisk-image/1773646/41855df8-6545-4d1a-8d4b-31468d3dc8ef/300x450"
                 alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Anime</h5>
              <p class="card-text"><b class="global-text-color mr-1">35.00 USD</b> <s>75.00 USD</s></p>
            </div>
          </div>
        </div>

        <div class="carousel-cell">
          <div class="poster card-border-none">
            <img class="card-img-top img-fluid"
                 src="https://avatars.mds.yandex.net/get-kinopoisk-image/1773646/41855df8-6545-4d1a-8d4b-31468d3dc8ef/300x450"
                 alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Anime</h5>
              <p class="card-text"><b class="global-text-color mr-1">35.00 USD</b> <s>75.00 USD</s></p>
            </div>
          </div>
        </div>

        <div class="carousel-cell">
          <div class="poster card-border-none">
            <img class="card-img-top img-fluid"
                 src="https://avatars.mds.yandex.net/get-kinopoisk-image/1773646/41855df8-6545-4d1a-8d4b-31468d3dc8ef/300x450"
                 alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Anime</h5>
              <p class="card-text"><b class="global-text-color mr-1">35.00 USD</b> <s>75.00 USD</s></p>
            </div>
          </div>
        </div>

        <div class="carousel-cell">
          <div class="poster card-border-none">
            <img class="card-img-top img-fluid"
                 src="https://avatars.mds.yandex.net/get-kinopoisk-image/1773646/41855df8-6545-4d1a-8d4b-31468d3dc8ef/300x450"
                 alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Anime</h5>
              <p class="card-text"><b class="global-text-color mr-1">35.00 USD</b> <s>75.00 USD</s></p>
            </div>
          </div>
        </div>

        <div class="carousel-cell">
          <div class="poster card-border-none">
            <img class="card-img-top img-fluid"
                 src="https://avatars.mds.yandex.net/get-kinopoisk-image/1773646/41855df8-6545-4d1a-8d4b-31468d3dc8ef/300x450"
                 alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Anime</h5>
              <p class="card-text"><b class="global-text-color mr-1">35.00 USD</b> <s>75.00 USD</s></p>
            </div>
          </div>
        </div>

        <div class="carousel-cell">
          <div class="poster card-border-none">
            <img class="card-img-top img-fluid"
                 src="https://avatars.mds.yandex.net/get-kinopoisk-image/1773646/41855df8-6545-4d1a-8d4b-31468d3dc8ef/300x450"
                 alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Anime</h5>
              <p class="card-text"><b class="global-text-color mr-1">35.00 USD</b> <s>75.00 USD</s></p>
            </div>
          </div>
        </div>

        <div class="carousel-cell">
          <div class="poster card-border-none">
            <img class="card-img-top img-fluid"
                 src="https://avatars.mds.yandex.net/get-kinopoisk-image/1773646/41855df8-6545-4d1a-8d4b-31468d3dc8ef/300x450"
                 alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Anime</h5>
              <p class="card-text"><b class="global-text-color mr-1">35.00 USD</b> <s>75.00 USD</s></p>
            </div>
          </div>
        </div>

      </carousel>
    </div>
  </div>
</div>
