<div class="container">
  <app-navbar></app-navbar>
  <div class="body-container">
    <div class="cinema-poster">

      <div class="row">
        <div class="col-8">
          <div class="img-area">
            <img src="https://cdn.kino.kz/cinema/119/p1000x1000.jpg" class="images img-fluid rounded-start" alt="...">
          </div>
        </div>
        <div class="col-4">
           <div class="description">
             <span class="title"><h1>Cinemax (Dostyk Plaza) Dolby Atmos</h1></span>
             <div class="detail-info">
               <span id="location"><h5>г. Алматы, Самал-2, д. 111, уг.ул. Жолдасбекова,
                 ТРЦ «Достык Плаза», +7 (727) 222 00 77, +7 701 026 73 69 (администрация),
                 бронирование билетов не предусмотрено</h5></span>
             </div>
           </div>
        </div>
      </div>

       <div class="info-nav-bar">
         <ul class="nav nav-tabs">
           <li class="nav-item">
             <a class="nav-link active" aria-current="page" href="#">Information</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">Operating mode</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">Additional info</a>
           </li>
         </ul>
       </div>

      <p style="margin-top:20px;padding-bottom: 20px ; font-size:15px ; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif ; font-weight:400; border-bottom: 1px solid #8f8f8f">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ea fuga in ipsam libero nemo nihil nulla odio quidem quod, saepe soluta tempora ullam! Accusantium aliquam amet architecto atque autem consectetur dicta earum eius eveniet ex, laboriosam odit optio reiciendis, sit tempore? Dolorum fugiat necessitatibus neque nulla perspiciatis, placeat repellat!</p>

    </div>
<!--    <div class="cinema-schedule">-->
<!--      <div class="row  time-zone">-->
<!--        <div class="col">-->
<!--          <button type="button" class="btn btn-light">By time</button>-->
<!--          <button type="button" class="btn btn-light">By cinema</button>-->
<!--        </div>-->
<!--        <div class="col offset-md-2 time-now">-->
<!--          {{time}}-->
<!--        </div>-->
<!--        <div class="col offset-md-2">-->
<!--          <button type="button" class="btn btn-light">Today</button>-->
<!--          <button type="button" class="btn btn-light">Tomorrow</button>-->
<!--          <button type="button" class="btn btn-light">By date</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <app-movie-schedule></app-movie-schedule>
  </div>
  <app-footer-main></app-footer-main>
</div>
