
html, body {
  font-family: 'Poppins', sans-serif;
}


body {
  background-image: url(https://wallpaper.dog/large/5543674.jpg);
}

.container {
  background-color: #fff;
}

.advertisement img {
  margin-top: 10vh !important;
  width: 100%;
  //max-width: 1200px !important;
  //max-height: 100px !important;
}

