<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div class="container">
  <app-navbar></app-navbar>
  <div class="main-tittle container">
    <h1>Action in <b style="color:red">Almaty</b> : <b><i>Movie</i> </b></h1>
  </div>
  <app-header-main-slider></app-header-main-slider>
  <div class="advertisement">
    <img src="https://wallpaperaccess.com/full/6325191.png" alt="">
  </div>
  <app-body-main-cinema-list></app-body-main-cinema-list>
  <app-header-main-slider></app-header-main-slider>
  <app-header-main-slider></app-header-main-slider>
  <app-header-main-slider></app-header-main-slider>
  <app-footer-main></app-footer-main>
</div>
<router-outlet></router-outlet>
</body>
</html>
