<div class="container">
   <div class="cinema-list">
     <div class="card-container">


         <div class="col">
           <div class="card mb-3 ">
             <div class="row g-0">
               <div class="col-md-1 images-area">
                 <img
                   src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_AALFzQqDkYfKJhdvXLOjr8JY-JKwb8k5cA&usqp=CAU"
                   class="images img-fluid rounded-start" alt="...">
               </div>
               <div class="card-body-container col-md-7">
                 <div class="card-body row">
                   <h5 class="card-title"><b>Cinemax (Dostyk Plaza) Dolby Atmos</b></h5>
                   <p class="card-text">/ Самал-2, д. 111, уг.ул. Жолдасбекова,
                     ТРЦ «Достык Плаза», +7 (727) 222 00 77, +7 701 026 73 69 (администрация),
                     бронирование билетов не предусмотрено</p>
                 </div>
               </div>
               <div class="action">
                 <div class="row">
                   <button type="button" class="btn btn-success">Edit</button>
                   <button type="button deleteButton" class="btn btn-danger" style="margin-left:5px">Delete</button>
                 </div>
               </div>
             </div>
           </div>
         </div>


       <div class="col">
         <div class="card mb-3 ">
           <div class="row g-0">
             <div class="col-md-1 images-area">
               <img
                 src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_AALFzQqDkYfKJhdvXLOjr8JY-JKwb8k5cA&usqp=CAU"
                 class="images img-fluid rounded-start" alt="...">
             </div>
             <div class="card-body-container col-md-7">
               <div class="card-body row">
                 <h5 class="card-title"><b>Cinemax (Dostyk Plaza) Dolby Atmos</b></h5>
                 <p class="card-text">/ Самал-2, д. 111, уг.ул. Жолдасбекова,
                   ТРЦ «Достык Плаза», +7 (727) 222 00 77, +7 701 026 73 69 (администрация),
                   бронирование билетов не предусмотрено</p>
               </div>
             </div>
             <div class="action">
               <div class="row">
                 <button type="button" class="btn btn-success">Edit</button>
                 <button type="button deleteButton" class="btn btn-danger" style="margin-left:5px">Delete</button>
               </div>
             </div>
           </div>
         </div>
       </div>

       <div class="col">
         <div class="card mb-3 ">
           <div class="row g-0">
             <div class="col-md-1 images-area">
               <img
                 src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_AALFzQqDkYfKJhdvXLOjr8JY-JKwb8k5cA&usqp=CAU"
                 class="images img-fluid rounded-start" alt="...">
             </div>
             <div class="card-body-container col-md-7">
               <div class="card-body row">
                 <h5 class="card-title"><b>Cinemax (Dostyk Plaza) Dolby Atmos</b></h5>
                 <p class="card-text">/ Самал-2, д. 111, уг.ул. Жолдасбекова,
                   ТРЦ «Достык Плаза», +7 (727) 222 00 77, +7 701 026 73 69 (администрация),
                   бронирование билетов не предусмотрено</p>
               </div>
             </div>
             <div class="action">
               <div class="row">
                 <button type="button" class="btn btn-success">Edit</button>
                 <button type="button deleteButton" class="btn btn-danger" style="margin-left:5px">Delete</button>
               </div>
             </div>
           </div>
         </div>
       </div>

       <div class="col">
         <div class="card mb-3 ">
           <div class="row g-0">
             <div class="col-md-1 images-area">
               <img
                 src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_AALFzQqDkYfKJhdvXLOjr8JY-JKwb8k5cA&usqp=CAU"
                 class="images img-fluid rounded-start" alt="...">
             </div>
             <div class="card-body-container col-md-7">
               <div class="card-body row">
                 <h5 class="card-title"><b>Cinemax (Dostyk Plaza) Dolby Atmos</b></h5>
                 <p class="card-text">/ Самал-2, д. 111, уг.ул. Жолдасбекова,
                   ТРЦ «Достык Плаза», +7 (727) 222 00 77, +7 701 026 73 69 (администрация),
                   бронирование билетов не предусмотрено</p>
               </div>
             </div>
             <div class="action">
               <div class="row">
                 <button type="button" class="btn btn-success">Edit</button>
                 <button type="button deleteButton" class="btn btn-danger" style="margin-left:5px">Delete</button>
               </div>
             </div>
           </div>
         </div>
       </div>

       <div class="col">
         <div class="card mb-3 ">
           <div class="row g-0">
             <div class="col-md-1 images-area">
               <img
                 src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_AALFzQqDkYfKJhdvXLOjr8JY-JKwb8k5cA&usqp=CAU"
                 class="images img-fluid rounded-start" alt="...">
             </div>
             <div class="card-body-container col-md-7">
               <div class="card-body row">
                 <h5 class="card-title"><b>Cinemax (Dostyk Plaza) Dolby Atmos</b></h5>
                 <p class="card-text">/ Самал-2, д. 111, уг.ул. Жолдасбекова,
                   ТРЦ «Достык Плаза», +7 (727) 222 00 77, +7 701 026 73 69 (администрация),
                   бронирование билетов не предусмотрено</p>
               </div>
             </div>
             <div class="action">
               <div class="row">
                 <button type="button" class="btn btn-success">Edit</button>
                 <button type="button deleteButton" class="btn btn-danger" style="margin-left:5px">Delete</button>
               </div>
             </div>
           </div>
         </div>
       </div>

     </div>
   </div>
  <router-outlet></router-outlet>
</div>
