.schedule {
  margin-top: 30px !important;
}

.time-zone {
  font-size: 14px !important;
}

.time-zone button {
  font-size: 14px !important;
}

.schedule-table {
  margin-top: 10px !important;
  font-size: 15px !important;
}

.table-title {
  background-color: #ecebeb;
}
