<div class="container cinema-list-container">
  <h2><b>Cinema</b></h2>
  <span>
     <div class="offset-md-2 col-md-10 d-flex justify-content-end">
    <h4>View all </h4>
  </div>
  </span>
  <div class="cinema-list ">
    <div class="container">
      <div class="row row-cols-2">

        <div class="col">
          <div class="card mb-3 " style="max-width: 500px;max-height:80px ; border-radius:10px">
            <div class="row g-0">
              <div class="col-md-2 images-area">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_AALFzQqDkYfKJhdvXLOjr8JY-JKwb8k5cA&usqp=CAU"
                  class="images img-fluid rounded-start" alt="..."
                  style="width:50px ;border-radius:20px; margin-top:5px ; margin-left: 10px">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><b>Card title</b></h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-3 " style="max-width: 500px;max-height:80px ; border-radius:10px">
            <div class="row g-0">
              <div class="col-md-2 images-area">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_AALFzQqDkYfKJhdvXLOjr8JY-JKwb8k5cA&usqp=CAU"
                  class="images img-fluid rounded-start" alt="..."
                  style="width:50px ;border-radius:20px; margin-top:5px ; margin-left: 10px">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><b>Card title</b></h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-3 " style="max-width: 500px;max-height:80px ; border-radius:10px">
            <div class="row g-0">
              <div class="col-md-2 images-area">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_AALFzQqDkYfKJhdvXLOjr8JY-JKwb8k5cA&usqp=CAU"
                  class="images img-fluid rounded-start" alt="..."
                  style="width:50px ;border-radius:20px; margin-top:5px ; margin-left: 10px">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><b>Card title</b></h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-3 " style="max-width: 500px;max-height:80px ; border-radius:10px">
            <div class="row g-0">
              <div class="col-md-2 images-area">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_AALFzQqDkYfKJhdvXLOjr8JY-JKwb8k5cA&usqp=CAU"
                  class="images img-fluid rounded-start" alt="..."
                  style="width:50px ;border-radius:20px; margin-top:5px ; margin-left: 10px">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><b>Card title</b></h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
