<div class="container">
  <app-navbar></app-navbar>
  <div class="body-container">
    <div class="gallery-title">

      <div class="row">
        <div class="col">
          <h1>All movies</h1>
        </div>
        <div class="col">
          <div class="link-container dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-bs-toggle="dropdown" aria-expanded="false">
              Today
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="#">Premiere</a></li>
              <li><a class="dropdown-item" href="#">Soon</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
      </div>
    </div>


    <div class="movie-list">
      <div class="row">

        <div class="col">
          <div class="poster card-border-none">
            <img class="card-img-top img-fluid"
                 src="https://avatars.mds.yandex.net/get-kinopoisk-image/1773646/41855df8-6545-4d1a-8d4b-31468d3dc8ef/300x450"
                 alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Anime</h5>
              <p class="card-text"><b class="global-text-color mr-1">35.00 USD</b> <s>75.00 USD</s></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="poster card-border-none">
            <img class="card-img-top img-fluid"
                 src="https://avatars.mds.yandex.net/get-kinopoisk-image/1773646/41855df8-6545-4d1a-8d4b-31468d3dc8ef/300x450"
                 alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Anime</h5>
              <p class="card-text"><b class="global-text-color mr-1">35.00 USD</b> <s>75.00 USD</s></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="poster card-border-none">
            <img class="card-img-top img-fluid"
                 src="https://avatars.mds.yandex.net/get-kinopoisk-image/1773646/41855df8-6545-4d1a-8d4b-31468d3dc8ef/300x450"
                 alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Anime</h5>
              <p class="card-text"><b class="global-text-color mr-1">35.00 USD</b> <s>75.00 USD</s></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="poster card-border-none">
            <img class="card-img-top img-fluid"
                 src="https://avatars.mds.yandex.net/get-kinopoisk-image/1773646/41855df8-6545-4d1a-8d4b-31468d3dc8ef/300x450"
                 alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Anime</h5>
              <p class="card-text"><b class="global-text-color mr-1">35.00 USD</b> <s>75.00 USD</s></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="poster card-border-none">
            <img class="card-img-top img-fluid"
                 src="https://avatars.mds.yandex.net/get-kinopoisk-image/1773646/41855df8-6545-4d1a-8d4b-31468d3dc8ef/300x450"
                 alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Anime</h5>
              <p class="card-text"><b class="global-text-color mr-1">35.00 USD</b> <s>75.00 USD</s></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="poster card-border-none">
            <img class="card-img-top img-fluid"
                 src="https://avatars.mds.yandex.net/get-kinopoisk-image/1773646/41855df8-6545-4d1a-8d4b-31468d3dc8ef/300x450"
                 alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Anime</h5>
              <p class="card-text"><b class="global-text-color mr-1">35.00 USD</b> <s>75.00 USD</s></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer-main></app-footer-main>
</div>
