
.link-container {
  margin-left: -40px;
  margin-top: 5px;
}

.movie-list {
  margin-top: 20px !important;
}

.movie-list .poster img {
  width: 10vw !important;
  height: 30vh !important;
  border-radius: 20px !important;
}
